.{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: serif;
	color: white;
}
body{
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background: black;

}


.container{
	position: relative;
	width: 750px;
	height: 450px;
	border: 2px solid blue;
	box-shadow: 0 0 25px blue;
	overflow: hidden;
}

.container .form-box{
	position: absolute;
	top: 0;
	width: 50%;
	height: 100%;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.form-box.Login{
	left: 0;
	padding: 0 40px;
}

.form-box.Login .animation{
	transform: translatex(0);
	transition: .7s;
	opacity: 1;
	transition-delay: calc(.1s * var(--d));
}

.container.active .form-box.Login .animation{
	transform: translatex(-120%);
	opacity: 0; 
}
.form-box.Register{
	
	right: -60%;
	padding: 0 60px;
}

.form-box.Register .animation{
	transform: translatex(0);
	transition: .7s;
	opacity: 0;
	
}

.container.active .form-box.Register .animation{
	transform: translatex(-120%);
	opacity: 1; 
	transition-delay: calc(.1s * var(--li));
}

.form-box h2{
	font-size: 32px;
	text-align: center;
}

.form-box .input-box{
	position: relative;
	width: 100%;
	height: 50px;
	margin-top: 25px;
}

.input-box input{
	width: 100%;
	height: 100%;
	background: transparent;
	border: none;
	outline: none;
	font-size: 16px;
	color: white;
	font-weight: 600;
	border-bottom: 2px solid white;
	padding-right: 23px;
	transition: .5s;
}

.input-box label{
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
	font-size: 16px;
	color: white;
	transition: .5s;
}

.input-box input:focus ~ label,
.input-box input:valid ~ label{
	top: -5px;
	color: blue;
}

.input-box i{
	position: absolute;
	top: 50%;
	right: 0;
	font-size: 18px;
	transform: translateY(-50%);
}

.input-box input:focus ~ i,
.input-box input:valid ~ i{
	color: blue;
}

.btn{
	position: relative;
	width: 100%;
	height: 45px;
	background: transparent;
	border-radius: 40px;
	cursor: pointer;
	font-size: 16px;
	font-weight: 600;
	border: 2px solid blue;
	overflow: hidden;
	color: white;
	z-index: 1;
}

.btn::before{
	content: "";
	position: absolute;
	height: 300%;
	width: 100%;
	background: linear-gradient(black,blue,black,blue);
	top: -100%;
	left: 0;
	z-index: -1;
	transition: .5s;

}

.btn:hover:before{
	top: 0;
}

.regi-link{
	font-size: 14px;
	text-align: center;
	margin: 20px 0 10px;

}

.regi-link a{
	text-decoration: none;
	color: blue;
	font-weight: 600;
	

}

.regi-link a:hover{
	text-decoration: underline;
}

.info-content{
	position: absolute;
	top: 0;
	height: 100%;
	width: 50%;
	display: flex;
	justify-content: center;
	flex-direction: column;


}

.info-content.Login{
	right: -70%;
	text-align: right;
	padding: 0 40px 60px 150px;
	pointer-events: none;
	

}
.info-content.Register{
	text-transform: uppercase;
	left: 0;
	text-align: left;
	padding: 0 40px 60px 150px;
	pointer-events: none;
	

}
.info-content.Register .animation{
	transform: translatex(-120px);
	transition: .7s ease;
	transition-delay: .90s;
	opacity: 0;
	
}

.container.active .info-content.Register .animation{
	transform: translateX(-115%);

	opacity: 1;
}

.info-content h2{
	text-transform: uppercase;
	font-size: 36px;
	line-height: 1.3;
}

.info-content p{
	font-size: 20px;
}

.curved-shaped{
	position: absolute;
	right: -25;
	top: -5px;
	height: 600px;
	width: 850px;
	background: linear-gradient(45deg,black,blue);
	transform: rotate(10deg) skewy(32deg);
	transform-origin: bottom right;
	transition: 1.5s ease;
}

.container.active .curved-shaped{
	transform: rotate(0deg) skewy(0deg); 
}

.curved-shaped2{
	position: absolute;
	left: 250px;
	top: 100%;
	height: 700px;
	width: 850px;
	background: black;
	border-top: 3px solid blue;
	transform: rotate(0deg) skewy(0deg);
	transform-origin: bottom left;
	transition: 1.5s ease;
}

.container.active .curved-shaped2{
	transform: rotate(-11deg) skewy(-41deg);
	transition-delay: 1.2s; 
}